header{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px; 
  
    h1{
      color:#4A919E;
    }

    nav{
      
      display:flex ;
      width: 50%;
    
      
      ul{
        
        list-style: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
      }
      
        
    }


}


#carouselExampleCaptions{
  img{
    object-fit: cover;
    height: 600px;
  
  }
  
}

.favoris-title{
  display: flex;
  justify-content: space-around;
  margin: 2% 0;
}
.favoris-card{
  display:flex ;
  justify-content: space-around;
    img{
      object-fit: cover;
      height: 250px;
    }
    .card-body{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
    }

    
}


footer{
  height: 400px;
  width: 100%;
  background-color: #BED3C3;
  margin-top: 2%;
}